
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('./source-sans-pro-v14-latin-regular.woff2') format('woff2');
}

body {
  --concrete: #f3f3f3;
  --murcury: #E6E6E6;
  --silver: #b8b8b8;
  --dusty-gray: #9b9b9b;
  --emperor: #555;
  --mine-shaft: #262626;
  --cod-gray: #161616;
  --dark-mode-bk: #1f1f1f;
  --dark-mode-bk2: #333333;
  --dark-mode-bk3: #4E4E4E;
  background: var(--concrete);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
} 

body.dark {
  background: var(--dark-mode-bk);
  color: #d8d8d8;
}

#version {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  opacity: 0.2;
}

::selection {
  background: var(--silver);
}

::-moz-selection {
  background: var(--silver);
}

input[type=text] {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 0.5em;
  box-sizing: border-box;
  border: 3px solid var(--silver);
  outline: none;
}

body.dark input[type=text] {
  background-color: var(--dark-mode-bk2);
  border: 3px solid var(--dark-mode-bk3);
  color: #d8d8d8;
}

input[type=text]:focus {
  border: 3px solid var(--emperor);
}  

button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--dusty-gray);
  border-radius: 0.5em;
  border: none;
  color: var(--concrete);
  padding: 15px 23px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  box-sizing: content-box;
} 

button:focus {
  background-color: var(--emperor);
}  

button:hover {
  background-color: var(--silver);
}

button:active {
  background-color: var(--mine-shaft);
}

.player-card {
  padding: 15px;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0px 0px 18px 3px #00000034;
  margin: 15px;
}

body.dark .player-card {
  background-color: var(--dark-mode-bk2);
  box-shadow: none;
}

.initial {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
 background-color: var(--murcury);
}

body.dark .initial {
  background-color: var(--dark-mode-bk3);
  box-shadow: none;
}

#transition {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity : 0; transition:opacity 1s;
  font-size: 72px;
  pointer-events:none;
  display: table-cell;
  vertical-align: middle;
}

#transition.wake {
  background-color: var(--concrete);
  color: black;
}

#transition.sleep {
  background-color: var(--dark-mode-bk);
  color: #d8d8d8;
}

#transition.on {
  opacity:1;
}

/* W3C Styles */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #9fccf1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9fccf1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}